<div id="connectFormDiv">

	<form id="connectForm" action= {{user ? "/userLogout" : "/connect"}} method="post">
		<div class="connectFormInput">
		{% if not user %}
			<div>
				<label for="email">Email :
				</label>
			</div>
			<div>
				<input type="text" name="email" id="email" required pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" placeholder="Email address" title="Please enter a valid email address that you have previously registered with.">
				{% if errors.email %}
					<p>{{errors.email}}</p>
				{% endif %}
			</div>
		</div>
		<div class="connectFormInput">
			<div>
				<label for="password">Password :
				</label>
			</div>
			<div>
				<input type="password" name="password" id="password" required pattern="^(?=.*?[0-9])(?=.*?[A-Za-z]).{6,}$" placeholder="6+ characters" autocomplete="current-password" title="Password must contain 6 or more characters, at least one number and at least one letter.">
				{% if errors.password %}
					<p class="error">{{ errors.password }}</p>
				{% endif %}
			</div>
		</div>
		{% endif %}
		<div id="submitBtnDiv">
			{% if user %}
				<button type="submit" id="connectSubmit" name="connectSubmit">Log out</button>
			{% else %}
				<button type="submit" id="connectSubmit" name="connectSubmit">Connect</button>
			{% endif %}
		</div>
		<div>
			{% if errors.connection %}
				<p class="error">{{ errors.connection }}</p>
			{% endif %}
		</div>
		<div>
			{% if not user %}
				<p id="connectP">You are not registered,
					<a id="connectA" href="/register">please register</a>
				</p>
			{% else %}
				<a id="connectA" href="/updateUser/{{user.id}}">Edit your profile</a>
			</p>
			{% endif %}
		</div>
	</form>
</div>
