{% block style %}
	<link rel="stylesheet" href="/assets/css/message.css">
{% endblock %}

<div id="pageContent">
	<form id="postForm" action="{{ transaction == 'update' ? '/updatePost/' ~ data.id_article : '/addPost' }}" method="post">
		<div id="formContent">
			<section id="profile">
				<div id="photoId">
					<img id="userPhoto" names="userPhoto" src="/assets/images/users/{{user.pseudo}}.webp" alt="{{user.pseudo}}">
				</div>
				<div id="username">
					<label id="name">{{user.pseudo}}</label>
				</div>

				<div id="postErrors">
					<p class="inputNErrors" id="postNameErrors"></p>
						
					{% if errors.post %}
							<p class="inputNErrors">{{errors.post}}</p>
						{% endif %}

				</div>
			</section>

			<section id="messageContent">
				<div id="postTitleDiv">
					<input type="text" name="postTitle" id="postTitle" placeholder="Title required" pattern="^(?=.*[A-Za-z]).{3,60}$"
  title="3 to 60 characters, must contain at least one letter">
				</div>
				
				<div id="postText">
					<textarea id="postMessage" name="postMessage" placeholder="Post text" rows="18" cols="75"></textarea>
				</div>
			</section>

			<section id="classContent">

				<div id="photoPost">
					<div id="postProfileImage">
						<img id="postPhoto" src="/assets/images/post/{{data.titre}}.webp" alt="Post image" onerror="this.src='/assets/images/post/defaultPost.webp'">
					</div>
					<input {{ origin ? 'disabled' : '' }} id="uploadImagePost" name="uploadImagePost" class="postImage" type="file" accept="image/jpeg, image/png, image/jpg, image/webp" name="filePath" id="filePath" hidden>

				</div>
				<div id="selecteSystem">
					<div>
						<label for="previousComputer">Computer :
						</label>
					</div>
					<div>
						<input hidden id="previousComputer" type="text" value="{{ data.ordinateur.id_ordinateur|default('0') }}">
						{% if not origin %}
							<select class="computerSelect" name="computerSelect" aria-label="Select computer" maxlength="30" required value="{{ data.ordinateur.id_ordinateur|default('0') }}"></select>
						{% else %}
							<input id="previousComputerSelect" type="text" {{ origin ? 'readonly' : '' }} {{ origin ? '' : 'hidden' }} value="{{ data.ordinateur.nom }}">
						{% endif %}
					</div>
				</div>

				<div id="selectCategory">
					<div>
						<label for="previousCategory">Category :</label>
					</div>
					<div>
						<input hidden id="previousCategory" name="previousCategory" type="text" value="{{ data.categorie.id_categorie|default('0') }}">
						{% if not origin %}
							<select id="categorySelect" name="categorySelect" aria-label="Select category" maxlength="30" required value="{{ data.categorie.id_categorie|default('0') }}"></select>
						{% else %}
							<input id="previousCategorySelect" type="text" {{ origin ? 'readonly' : '' }} {{ origin ? '' : 'hidden' }} value="{{ data.category.categorie }}">
						{% endif %}
					</div>
				</div>

				<div class="formBtnDiv">
					<div>
						<button class="btnForm" type="submit" id="addPostSubmit" name="addPostSubmit">Post</button>
					</div>
					<div>
						<button class="btnForm" type="reset" id="btnReset" value="reset">Reset</button>
					</div>
				</div>
			</section>
		</div>
	</form>
</div>
