{% block style %}
	<link rel="stylesheet" href="/assets/css/message.css">
{% endblock %}

<div id="pageContent">
	<div id="sideDiv">
		<div id="photoId">
			<img id="userPhoto" name="userPhoto" src="/assets/images/users/{{data.utilisateur.pseudo}}.webp" alt="{{user.pseudo}}">
		</div>

		<div id="username">
				<label id="name">{{data.utilisateur.pseudo}}</label>
		</div>
		<div id="likes">
				<label id="likes">Likes : {{data.articleLikes|length }}</label>
		</div>

	</div>
	<div id="messageDiv">
		<div id="titleDate">
			<div id="postTitle">{{data.titre}}</div>
			<div id="postDate">{{data.date}}</div>
		</div>
		<div id="postPhoto"><img src="/assets/images/post/{{data.titre}}.webp" alt="Photo {{data.utilisateur.pseudo}} post"></div>
		<div id="postText">{{data.texte}}</div>
		<div id="postBtn">
			<button class="btnForm" id="addLike" name="uaddLike">Like</button>
			<button class="btnForm" id="addComment" name="addComment">Comment</button>
	</div>
</div>
